<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
          <a class="btn btn-default" href="/fpl" role="button">Pick up Lines</a>
      </div>
      <div class="btn-group" role="group">
        <a class="btn btn-default" href="/fdq" role="button">1st Date Questions</a>
      </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>